<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <div class="table-container">
    <ng-container *ngFor="let group of groupedEvents">
      <!-- Display the month header -->
      <h2 class="month-header">{{ group[0] }}</h2>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let event of group[1]">
          <mat-expansion-panel-header>
            <mat-panel-title class="event-header">
              <div class="event-column">
                {{ event.startDate | date : "MMMM dd, yyyy" }}
              </div>
              <!-- <div class="event-column">{{ event.creator }}</div> -->
              <div class="event-column">{{ event.title }}</div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="event-details">
            <div class="event-row">
              <div><strong>Description:</strong> {{ event.description }}</div>
              <div><strong>Location:</strong> {{ event.location }}</div>
              <div><strong>Start Date:</strong> {{ event.startDate | date }}</div>
              <div><strong>End Date:</strong> {{ event.endDate | date }}</div>
            </div>
            <a
              [routerLink]="['/registration-page', event.id]"
              class="register-link"
              >Register for event</a
            >
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>
</div>
