<div class="page-container">
  <div class="info-section">
    <div class="info-section-header">
      <h1>{{ competition.name }}</h1>
    </div>
    <div class="info-section-content">
      <div class="info-section-content-item">
        <strong>Dommer</strong>
        <p>{{ getJudgeNameById(judgeControl.value) }}</p>
      </div>
      <div class="info-section-content-item">
        <strong>Bane</strong>
        <p>{{ getFieldNameById(fieldControl.value) }}</p>
      </div>
      <div class="info-section-content-item">
        <strong>Bedømmelsesmetode</strong>
        <p>{{ getMethodNameById(methodControl.value) }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!detailsSubmitted">
    <!-- <div *ngIf="false"> -->
    <h2>Konkurrence Detaljer</h2>
    <div class="form-group">
      <form [formGroup]="myForm" (ngSubmit)="handleDetailsSubmit()">
        <app-form-input-select
          label="Dommer"
          [control]="judgeControl"
          [options]="judgeOptions"
        >
        </app-form-input-select>
        <app-form-input-select
          label="Bane"
          [options]="fieldOptions"
          [control]="fieldControl"
        >
        </app-form-input-select>
        <app-form-input-select
          label="Bedømmelsesmetode"
          [options]="methodOptions"
          [control]="methodControl"
        ></app-form-input-select>
        <!-- <app-form-input-text label="Start Tid"> </app-form-input-text> -->
        <button mat-raised-button type="submit" class="submit-button">
          Fortsæt
        </button>
      </form>
    </div>
  </div>
  <!-- <div *ngIf="detailsSubmitted"> -->
  <div *ngIf="true" class="subpage-container">
    <h2>{{ competition.name }}</h2>
    <div class="result-content">
      <app-competition-result-view
        *ngIf="!showRoundDetailsView"
        class="result-view"
        [match]="selectedMatch"
        (matchUpdated)="updateMatchList($event)"
      >
      </app-competition-result-view>

      <app-competition-participants-list
        *ngIf="!showRoundDetailsView"
        (newRoundClick)="onNewRoundClick()"
        (nextRoundClick)="onNextRoundClick()"
        [matches]="matches"
        class="participants-list"
        (matchSelected)="selectMatch($event)"
      >
      </app-competition-participants-list>
      <app-competition-round-details
        *ngIf="showRoundDetailsView"
        (formSubmit)="onRoundDetailsSubmit($event)"
      ></app-competition-round-details>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="finishCompetition()">
    Afslut Konkurrence
  </button>
</div>
