<div class="page-container">
  <div class="title">
    This is the title for the event
  </div>
  <div class="top-section">
    <div class="container locatoin">
      <h3>Location</h3>
      <p>Stednavn</p>
      <p>Address</p>
      <p>Post nummer og by</p>
    </div>
    <div class="container dates">
      <h3>Datoer og tidspunkt</h3>
      <p>Starttidspunkt:</p>
      <p>Tilmeldingsstart:</p>
      <p>Sidste tilmelding:</p>
    </div>
    <div class="container buttons">
      <button mat-button>START</button>
      <button mat-button color="warn">Rediger</button>
      <button mat-button color="primary">Tilmeld</button>
    </div>
  </div>
  <div class="middle-section">
    <div class="table-container">
      <app-competition [competitions]="judgeData"></app-competition>
    </div>
    <div class="table-container">
      <app-competition [competitions]="judgeData"></app-competition>
    </div>
  </div>
  <div class="competition-container">
    <app-competition [competitions]="competitionData"></app-competition>
  </div>
</div>