/* Wrapper to center content and limit width */
.container-wrapper {
  margin: 0 auto; /* Center the content horizontally */
}

/* Loading spinner centered within content */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px; /* Set a minimum height to provide spacing */
}

/* Expansion panel styling */
.custom-panel {
  margin-bottom: 16px;
}

/* Expansion panel header customization */
.custom-panel .custom-panel-header {
  background-color: #2196F3;
  color: white;
  font-weight: bold;
  padding: 16px;
  font-size: 1.1rem;
  border-radius: 0 0 0 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.custom-panel .panel-text {
  color: white;
}

.custom-panel .panel-description {
  color: white;
  font-weight: lighter;
}

.custom-panel .custom-panel-header.mat-expanded {
  background-color: #2a78af; /* Darker blue when expanded */
}

.scrollable-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

/* Ensure the table doesn't break on small screens */
.scrollable-container app-DataTable {
  min-width: 600px; /* Adjust as needed */
}

/* Responsive tweaks */
@media (max-width: 600px) {
  .panel-text {
    font-size: 14px;
  }

  .panel-description {
    font-size: 12px;
  }
}