/* Wrapper to center content and limit width */
.container-wrapper {
  max-width: 900px; /* Set a maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px; /* Add padding for better spacing */
}

/* Loading spinner centered */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}


.custom-panel{
  margin-bottom: 16px;
}
/* Expansion panel header customization */
.custom-panel .custom-panel-header {
  background-color: #2196F3; /* Blue background for header */
  color: white; /* Make the text white */
  font-weight: bold;
  padding: 16px;
  font-size: 1.1rem;
  border-radius: 0 0 0 0;
  max-width: 900px; /* Align with the container-wrapper width */
  margin: 0 auto; /* Center the header within the container */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.custom-panel .panel-text{
  color: white;
}

.custom-panel .custom-panel-header.mat-expanded {
  border-radius: 0 0 0 0 ;
  background-color: #2a78af; /* Darker blue when expanded */  
}
