<h4>Deltager Information:</h4>
<div class="form-grid">
  <app-form-input-text
    label="Fornavn"
    [control]="firstNameControl"
  ></app-form-input-text>
  <app-form-input-text
    label="Efternavn"
    [control]="lastNameControl"
  ></app-form-input-text>
  <app-form-input-date
    label="Fødselsdag"
    [control]="birthdayControl"
  ></app-form-input-date>
  <app-form-input-text
    label="E-Mail"
    [control]="mailAddressControl"
  ></app-form-input-text>
  <app-form-input-numbers
    label="Telefon nr."
    [control]="phoneNumberControl"
  ></app-form-input-numbers>
</div>
