.competition-section {
  margin-top: 20px;
}

.form-competition-grid {
  display: grid;
  gap: 16px; /* Add consistent spacing between rows */
}

.form-competition-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto; /* Make inputs the same width and button take up minimal space */
  align-items: center;
  gap: 16px; /* Consistent spacing between columns */
}

.competition-input {
  width: 100%;
}

.add-competition-button {
  margin-top: 10px;
  align-self: start;
  background-color: green !important;
}
.add-competition-button:hover {
  background-color: rgb(66, 156, 66) !important;
}
