<div class="page-container">
  <h2>Tilladelser</h2>

  <div class="switch-container" [formGroup]="control">
    <mat-slide-toggle formControlName="udenForKlassen"
      >Uden for klassen</mat-slide-toggle
    >
    <mat-slide-toggle formControlName="veteranKaniner"
      >Veteran kaniner</mat-slide-toggle
    >
    <mat-slide-toggle formControlName="eftertilmelding"
      >Eftertilmelding</mat-slide-toggle
    >
    <mat-slide-toggle formControlName="traeningsstaevner"
      >Træningsstævner</mat-slide-toggle
    >
  </div>
</div>
