<div class="form-group">
  <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
    <div class="form-page">
      <div *ngIf="currentPageIndex === 0">
        <app-registration-form-event-info
          [parentForm]="myForm"
        ></app-registration-form-event-info>
      </div>
      <div *ngIf="currentPageIndex === 1">
        <app-registration-form-competitor-info
          [parentForm]="newForm"
        ></app-registration-form-competitor-info>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="handleSubmit()"
          [disabled]="!myForm.valid || !newForm.valid"
        >
          Submit
        </button>
      </div>
    </div>
    <mat-paginator
      class="paginator"
      [length]="2"
      [pageSize]="1"
      [pageSizeOptions]="[1]"
      showFirstLastButtons
      (page)="onPageChange($event)"
    ></mat-paginator>
  </form>
</div>
