<p>competition works!</p>
<mat-accordion multi="true">
    <div>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>This is the tile</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="page-container">
                <app-participants-table [dataSource]="competitions" [displayedColumns]="displayedColums"></app-participants-table>
                <!-- <app-participants-table [data]="table.data" [columns]="table.columns"></app-participants-table> -->
            </div>
        </mat-expansion-panel>
    </div>
</mat-accordion>