<div class="container-wrapper">
    <div *ngIf="isLoading" class="loading-spinner">
      <mat-spinner></mat-spinner> <!-- Angular Material Spinner -->
    </div>
  
    <mat-accordion multi="true" class="custom-accordion">
      <div>
        <mat-expansion-panel hideToggle *ngFor="let comp of competitions" class="custom-panel">
          <mat-expansion-panel-header class="custom-panel-header">
            <mat-panel-title class="panel-text">{{ comp.title }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="page-container">
            <app-participants-table
              [dataSource]="comp.data"
              [displayedColumns]="comp.columns">
            </app-participants-table>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
  