<div class="table-container">
  <table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8 custom-mat-table">
    
    <!-- Dynamic Column Definitions -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ column | uppercase }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator
    [length]="tableDataSource.data.length"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 100]"
    aria-label="Select page">
  </mat-paginator>
</div>
