<div class="form-group">
  <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
    <app-form-event-information
      [parentForm]="myForm"
    ></app-form-event-information>
    <app-form-competition-permits
      [control]="permissionsGroupControl"
    ></app-form-competition-permits>
    <app-form-competition [control]="competitionControl"></app-form-competition>
    <button mat-raised-button type="submit" color="primary">Submit</button>
    <mat-paginator
      [length]="3"
      [pageSize]="1"
      [pageSizeOptions]="[1]"
      showFirstLastButtons
    ></mat-paginator>
  </form>
</div>
