<div class="form-group">
  <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
    <div class="form-page">
      <div *ngIf="currentPageIndex === 0">
        <app-form-event-information
          [parentForm]="myForm"
          [locations]="locations"
          [organizers]="organizers"
        ></app-form-event-information>
      </div>
      <div *ngIf="currentPageIndex === 1">
        <app-form-competition-permits
          [control]="permissionsGroupControl"
        ></app-form-competition-permits>
      </div>
      <div *ngIf="currentPageIndex === 2">
        <app-form-competition
          [control]="competitionControl"
          [competitionTypes]="competitionTypes"
        ></app-form-competition>
      </div>
      <div *ngIf="currentPageIndex === 3">
        Value: {{ myForm.value | json }}
        <button mat-raised-button type="submit" class="submit-button">
          Submit
        </button>
      </div>
    </div>
    <mat-paginator
      class="paginator"
      [length]="4"
      [pageSize]="1"
      [pageSizeOptions]="[1]"
      showFirstLastButtons
      (page)="onPageChange($event)"
    ></mat-paginator>
  </form>
</div>
