.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 5px;
  width: 100%;
}
@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr; /* Switch to a single column for mobile */
  }
}
.form-group {
  margin-bottom: 16px;
  height: 600px;
  width: 80vw;
  text-align: center;
}
.form-page {
  display: flex;
  justify-content: center;
}

.submit-button {
  margin-top: 10px;
  align-self: start;
  background-color: green !important;
}
.submit-button:hover {
  background-color: rgb(66, 156, 66) !important;
}

.paginator-container {
  display: flex;
  justify-content: center; /* Center the paginator */
}
