<h1 class="heading">Competition</h1>

<div class="container-wrapper">
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <mat-accordion multi="true" class="custom-accordion">
    <div *ngFor="let comp of ExpandableTableData; let i = index">
      <mat-expansion-panel
        hideToggle
        class="custom-panel"
        [class.start]="comp.status === 'Start'"
        [class.aktiv]="comp.status === 'Aktiv'"
        [class.afsluttet]="comp.status === 'Afsluttet'"
      >
        <mat-expansion-panel-header class="custom-panel-header">
          <button
            class="competition-button"
            [class.start-button]="comp.status === 'Start'"
            [class.aktiv-button]="comp.status === 'Aktiv'"
            [class.afsluttet-button]="comp.status === 'Afsluttet'"
            (click)="openConfirmDialog(comp.status, comp)"
          >
            {{ comp.status }}
          </button>
          <mat-panel-title class="panel-text">{{
            comp.ExpandableTable
          }}</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
