.heading {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.competition-container {
    display: flex;
    flex-direction: column;
    width: 40%; /* Increase width */
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.competition-item {
    display: flex;
    align-items: center;
    background-color: #2196f3;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 50px; /* Set a fixed height */
}

.competition-button {
    border: none;
    width: 30%; /* Adjust width as needed */
    height: 100%; 
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px 0 0 5px; /* Rounded corners for the left side */
}

.competition-button.start-button {
    background-color: #4caf50; /* Green for Start */
    color: white;
}

.competition-button.aktiv-button {
    background-color: #ff9800; /* Orange for Aktiv */
    color: white;
}

.competition-button.afsluttet-button {
    background-color: #f44336; /* Red for Afsluttet */
    color: white;
}

.competition-button:hover {
    opacity: 0.8; /* Slightly dim on hover */
}

/* Wrapper to center content and limit width */
.container-wrapper {
    max-width: 900px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Add padding for better spacing */
}

/* Loading spinner centered */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh; /* Full viewport height */
}

.competition-text {
    flex-grow: 1; /* Allow text to take up remaining space */
    color: white;
    font-weight: bold;
    padding-left: 10px; /* Add padding for better spacing */
} 