<h1 class="heading">Competition</h1>

<div class="container-wrapper">
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div class="competition-container">
    <div *ngFor="let comp of ExpandableTableData; let i = index">
      <div
        class="competition-item"
        [class.start]="comp.status === 'Start'"
        [class.aktiv]="comp.status === 'Aktiv'"
        [class.afsluttet]="comp.status === 'Afsluttet'"
      >
        <button
          class="competition-button"
          [class.start-button]="comp.status === 'Start'"
          [class.aktiv-button]="comp.status === 'Aktiv'"
          [class.afsluttet-button]="comp.status === 'Afsluttet'"
          (click)="openConfirmDialog(comp.status, comp)"
        >
          {{ comp.status }}
        </button>
        <span class="competition-text">{{ comp.ExpandableTable }}</span>
      </div>
    </div>
  </div>
</div>
