<div class="comp-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Startliste</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="dataSource" class="startlist-table">
        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef> Nr. </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 }}
          </mat-cell>
        </ng-container>

        <!-- Participant Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Deltager </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selectParticipant(row)"
          [class.selected]="row === selectedParticipant"
        ></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
