h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.page-container {
    display: grid;
    grid-template-rows: auto auto auto; /* Three main rows for top, middle, and bottom sections */
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
  }