<div>
  <h2>Angiv Runde Detaljer</h2>
  <div class="form-group">
    <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
      <p>
        Angiv finalekrav. Lad felter værre tomme hvis der ikke er begrænsning.
      </p>
      <app-form-input-numbers label="Fejl" [control]="faultControl">
      </app-form-input-numbers>
      <app-form-input-text label="Tid" [control]="timeControl">
      </app-form-input-text>
      <button mat-raised-button type="submit" class="submit-button">
        Fortsæt
      </button>
    </form>
  </div>
</div>
