<h4>Stævne Information</h4>
<div class="form-grid">
  <app-form-input-text
    label="Titel"
    [control]="titleControl"
  ></app-form-input-text>
  <app-form-input-select
    label="Arrangør"
    [control]="organizerControl"
    [options]="organizerOptions"
  ></app-form-input-select>
  <app-form-input-select
    label="Stednavn"
    [control]="locationControl"
    [options]="locationOptions"
  ></app-form-input-select>
  <!-- <app-form-input-text
    label="Adresse"
    [control]="adressControl"
  ></app-form-input-text>
  <app-form-input-text
    label="Postnr. og by"
    [control]="postadressControl"
  ></app-form-input-text> -->
  <app-form-input-text
    label="Deltager gebyr"
    [control]="entryFeeControl"
  ></app-form-input-text>
  <app-form-input-date
    label="Start dato"
    [control]="startDateControl"
  ></app-form-input-date>
  <app-form-input-date
    label="Slut dato"
    [control]="endDateControl"
  ></app-form-input-date>
  <app-form-input-date
    label="Dato for tilmeldingsstart"
    [control]="registrationStartDateControl"
  ></app-form-input-date>
  <app-form-input-date
    label="Dato for sidste tilmelding"
    [control]="registrationEndDateControl"
  ></app-form-input-date>
</div>
